{% extends "main.html.twig" %}

{% block content %}

    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/MaCroTux/phpslim-adr-doker" role="button">Learn more</a></p>
    </div>

{% endblock %}